/* OPTIONS */
@use "./base/resto-base.scss";


/* HEADER */
@use "./layout/resto-header.scss";

/* BACKGROUND IMAGE */
@use "./layout/resto-background-img.scss";

/* H1-CONTAINER */
@use "./base/resto-h1.scss";

/* SECTION MENU */
@use "./layout/resto-menu.scss";

/*  BOUTON COMMANDER */
@use "./components/resto-button.scss";

/* FOOTER */
@use "./layout/footer.scss";

/* MEDIA QUERIES */
@use "./utils/media-resto.scss";

/* Animation pour l'apparition */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Légère translation depuis le bas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position initiale */
    }
}

/* Application de l'animation sur le contenu principal */
.main-content {
    opacity: 0.5; /* Démarre avec une opacité de 0 */
    transform: translateY(50px); /* Position initiale légèrement en bas */
    animation: slideIn 1s ease-out forwards; /* Animation douce */
}
