/* OPTIONS */
@use "./base/base.scss";

/* HEADER */
@use "./layout/header.scss";

/* FORMULAIRE DE LOCALISATION  */
@use "./layout/localisation.scss";

/* CONTENEUR DE MENU */
@use "./layout/menu-container.scss";

/* CONTENEUR DE FONCTIONNEMENT */
@use "./layout/fonctionnement.scss";

/* RESTAURANTS */
@use "./layout/restaurants.scss";

/* NOUVEAU */
@use "./components/nouveau-container.scss";

/* FOOTER */
@use "./layout/footer.scss";

/* MEDIA QUERIES */
@use "./utils/media-home.scss";


/* Animation pour l'ouverture et la fermeture des éléments */
@keyframes pageOpenClose {
    0% {
        opacity: 0; /* Commence invisible */
        transform: scaleY(0); /* L'élément est complètement comprimé verticalement */
        transform-origin: top; /* Départ de l'ouverture depuis le haut */
    }
    50% {
        opacity: 0.5; /* L'élément devient visible */
        transform: scaleY(1.1); /* L'élément s'ouvre légèrement (déformation verticale) */
    }
    100% {
        opacity: 1; /* L'élément reste visible */
        transform: scaleY(1); /* L'élément se stabilise à sa taille normale */
    }
}

/* Animation pour l'apparition */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Légère translation depuis le bas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position initiale */
    }
}

/* Application de l'animation sur le contenu principal */
.main-content {
    opacity: 0.5; /* Démarre avec une opacité de 0 */
    transform: translateY(50px); /* Position initiale légèrement en bas */
    animation: slideIn 1s ease-out forwards; /* Animation douce */
}
