/* OPTIONS */
@use "./base/base.scss";

/* LOADER */
@use "./layout/loader.scss";

/* HEADER */
@use "./layout/header.scss";

/* FORMULAIRE DE LOCALISATION  */
@use "./layout/localisation.scss";

/* CONTENEUR DE MENU */
@use "./layout/menu-container.scss";

/* CONTENEUR DE FONCTIONNEMENT */
@use "./layout/fonctionnement.scss";

/* RESTAURANTS */
@use "./layout/restaurants.scss";

/* NOUVEAU */
@use "./components/nouveau-container.scss";

/* FOOTER */
@use "./layout/footer.scss";

/* MEDIA QUERIES */
@use "./utils/media-home.scss";

/* Animation pour l'apparition */
@keyframes zoomOutEffect {
    0% {
        transform: scale(1.2);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Applique l'effet au chargement */
.main-content {
    animation: zoomOutEffect 0.5s ease-out;
}