/* OPTIONS */
@use "../sass/base/resto-base.scss";

/* LOADER */
@use "../sass/layout/loader.scss";

/* LOADER */
@use "./layout/loader.scss";

/* HEADER */
@use "../sass/layout/resto-header.scss";

/* BACKGROUND IMAGE */
@use "../sass/layout/resto-background-img.scss";

/* H1-CONTAINER */
@use "../sass/base/resto-h1.scss";

/* SECTION MENU */
@use "../sass/layout/resto-menu.scss";

/*  BOUTON COMMANDER */
@use "../sass/components/resto-button.scss";

/* FOOTER */
@use "../sass/layout/footer.scss";

/* MEDIA QUERIES */
@use "../sass/utils/media-resto.scss";

/* Animation pour l'apparition */
@keyframes zoomInEffect {
    0% {
        transform: scale(0.8);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Applique l'effet au chargement */
.main-content {
    animation: zoomInEffect 0.5s ease-out;
}

