.heart-checkbox {
    position: absolute;
    bottom: 25px;
    right: 35px;
    cursor: pointer;

    &__input {
        display: none;
    }

    &__heart {
        fill: transparent;
        stroke: #000;
        stroke-width: 1;
        transition: fill 0.3s ease;
        width: 26px;
        height: 25px;
    }

    &__input:hover + &__heart {
        fill: url(#gradient);
        stroke-width: 0;
    }
}