@use "../utils/variables.scss" as v;

.nouveau-container {
    position: absolute;
    top: 13px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    font-size: 0.875rem;
    font-weight: 500;
    
    &--green {
        background: v.$nouveau-bg;
        color: v.$nouveau-color;
    }

}