@use "../utils/variables.scss" as v;
@use "../utils/mixins.scss" as m;

.h1-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 325px;
    margin: 0 auto;
    padding-right: 45px;

    & h1 {
        position: relative;
    }

    &::before {
        @include m.heart;
        @include m.heart-position-page;
        }

        &::after {
        @include m.heart;
        @include m.gradient(1);
        @include m.heart-position-page;
        opacity: 0;
        color: transparent;
        font-weight: 900;
        }

        &:hover::after {
        opacity: 1;
        }
}
