@charset "UTF-8";
/* OPTIONS */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* LOADER */
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1;
  background-color: #ffffff;
  height: 100vh;
  opacity: 0.5;
  animation: disappear 200ms 1s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
  animation-iteration-count: 1;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* HEADER */
.header {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.938rem;
  padding-top: 0.625rem;
}

/* FORMULAIRE DE LOCALISATION  */
.localisation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 0.375rem;
  background-color: #EAEAEA;
  height: 3.125rem;
  gap: 1.063rem;
  font-size: 1rem;
}
.localisation-container__p {
  font-weight: 500;
  color: #353535;
}

/* CONTENEUR DE MENU */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 55px 25px;
  gap: 15px;
  background-color: #F6F6F6;
  text-align: center;
}
.menu-container__h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
.menu-container__p {
  font-size: 1.125rem;
  font-weight: 300;
}
.menu-container__button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  border-radius: 3.125rem;
  margin-top: 10px;
  width: 218px;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.menu-container__button:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 0.7;
  transition: opacity 0.7s ease-out;
  scale: 1.02;
}
.menu-container__button--linear {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/* CONTENEUR DE FONCTIONNEMENT */
.fonctionnement {
  padding-left: 1rem;
  padding-right: 1rem;
}
.fonctionnement__h2 {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.375rem;
  gap: 25px;
}
.fonctionnement__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.25rem;
  width: 95%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #F6F6F6;
}
.fonctionnement__h3 {
  position: absolute;
  left: 80px;
  font-size: 1rem;
  font-weight: 500;
}
.fonctionnement__i {
  position: absolute;
  top: 23px;
  left: 35px;
  font-size: 1.244rem;
  color: #7e7e7e;
}
.fonctionnement__i--purple {
  color: #9356dc;
}
.fonctionnement__number {
  position: absolute;
  top: 25px;
  left: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 0.886rem;
  font-weight: 500;
  color: white;
}
.fonctionnement__number--purple {
  background-color: #9356DC;
}

/* RESTAURANTS */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125rem 1rem 3.125rem 1rem;
  background-color: #F6F6F6;
}
.restaurants__h2 {
  padding-left: 0.31rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 18px;
}
.restaurants__a {
  position: relative;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 251px;
  background-color: white;
}
.restaurants__img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
}
.restaurants__card-txt {
  position: relative;
  color: #353535;
  padding: 0.938rem 0 0 0.813rem;
}
.restaurants__card-txt::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  position: absolute;
  right: 1rem;
  top: 50%;
}
.restaurants__card-txt::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  position: absolute;
  right: 1rem;
  top: 50%;
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
.restaurants__card-txt:hover::after {
  opacity: 1;
}
.restaurants__card-title {
  padding-bottom: 0.19rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants__card-subtitle {
  font-size: 1.063rem;
  font-weight: 300;
}

/* NOUVEAU */
.nouveau-container {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  font-size: 0.875rem;
  font-weight: 500;
}
.nouveau-container--green {
  background: #99E2D0;
  color: #008766;
}

/* FOOTER */
.footer {
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #353535;
  color: white;
}
.footer__h2 {
  line-height: 26.24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Shrikhand;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__a {
  color: white;
  font-size: 1rem;
}
.footer__proposer {
  padding-left: 0.438rem;
  font-weight: 500;
}
.footer__devenir {
  padding-left: 0.25rem;
  font-weight: 500;
}
.footer__mentions {
  font-weight: 400;
}
.footer__contact {
  font-weight: 400;
}

/* MEDIA QUERIES */
/* Correspond aux appareils dépassant 768 pixels */
@media (min-width: 768px) {
  .restaurants__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants__a {
    width: calc(50% - 50px);
    margin-bottom: 1.875rem;
  }
}
/* Correspond aux appareils dépassant 1024 pixels */
@media (min-width: 1024px) {
  .main-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .header, .localisation-container {
    box-shadow: none;
    margin-bottom: 0;
  }
  .menu-container__h1 {
    font-size: 2.5rem;
  }
  .restaurants {
    padding-bottom: 0.5rem;
  }
  .restaurants__h2 {
    padding-left: 0;
  }
  .fonctionnement__container {
    padding-bottom: 3.125rem;
    flex-direction: row;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    gap: 35px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 95px;
    padding: 2.5rem 3.8rem 0.5rem 0;
  }
  .footer__link {
    flex-direction: row;
    gap: 15px;
  }
  .footer__mentions {
    padding-left: 2rem;
  }
}
/* Animation pour l'apparition */
@keyframes zoomOutEffect {
  0% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Applique l'effet au chargement */
.main-content {
  animation: zoomOutEffect 0.5s ease-out;
}

/*# sourceMappingURL=style.css.map */
