$bg-color: #EAEAEA;
$medium-shadow: #00000040;
$size: 1rem;
$p-color: #353535;

$main-bg-color: #F6F6F6;
$h2-color: black;
$btn-color: white;
$btn-bg: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

$main-number-color: #9356DC;

$nouveau-bg: #99E2D0;
$nouveau-color: #008766;

$menu-bg: #F3F3F3;
$menu-shadow: 0px 4.01px 15.04px 0px #0000001A;
$item-bg: white;

$footer-bg: #353535;
$footer-color: white;
$footer-h2font: Shrikhand;